
/* reset */


:root{

    /* VARIABLES */

    --HEAD--COLORS: linear-gradient(to top, rgb(165, 42, 42, 0.5), rgb(238, 238, 38, 0.5));

/*-----------------------*/

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: brown;
}

body{
    font-family: sans-serif,'Times New Roman', Times, serif;
    background-color: white;
    width: 50rem;
    margin:auto;
  
}

h1{
    font-size: 69px;
    font-weight: bolder;
    color: white;
    font-family: 'Tangerine';
    text-shadow: 4px 4px 4px orangered;
    
}

h2{
    font-size: 20px;
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
}
p{
    margin: 10px 0;
    font-style: italic;
    color: rgb(42, 49, 49);
}
button{
    padding: 4px 20px;
    color: whitesmoke;
    border-radius: 8px;
    border: 0;
}

a, a:visited, a:active{
    text-decoration: none;
    padding: 12px 16px;
    font-size: 17px;
    font-weight: 550;
}

a:hover{
    background-image: var(--HEAD--COLORS);
    color: whitesmoke;
}

.header{
    padding: 12px;
    background-image: var(--HEAD--COLORS);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(165, 42, 42, 0.5);
    
}

.identity{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 4rem 0;

}

.identity-logo{
    width: 50%;
    height: auto;
    text-align: center;
    flex-shrink: 0;
}

.identity-info{
    flex: 1;
    align-self: center;
    justify-self: center;
    padding: 12px;
    
}

.img{
    width: 80%;
    height: auto;
    
}

.btn-signup{
    background-color: rgb(55, 55, 187);
    margin: 12px 0;
}

.order-btn{
    background-color: hsl(209, 89%, 36%);
    border: 2px solid white;
}

.reviews{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customer-reviews{
    padding-top: 2rem;
    margin-bottom: 25px;
}

.customer{
    margin: 15px;
}

.caption{
    text-align: center;
    font-weight: bold;
}

.quote-motivation{
    background-color: #d3d3d3;
    height: 20vh;
    text-align: center;
    padding: 26px;
    margin: 2.5rem 0;
}

.words{
    font-style: oblique;
    font-size: 24px;
    padding: 15px;

}

.legend{
    text-align: right;
    margin-top: 22px;
}

.order-signup{
    background-color: hsl(209, 89%, 36%);
    color: white;
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem;

}

/* FOOTER */
.footer{
    color: white;
    padding: 1rem;
    background-color: darkblue;
}

